src/META-INF/wsdl/localhost_8080/ArlkonServer/BinaryTransactionsWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="BinaryTransactionsWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://localhost:8080/ArlkonServer/BinaryTransactionsWS?xsd=1"/>
</xsd:schema>
</types>
<message name="setResult">
<part name="parameters" element="tns:setResult"/>
</message>
<message name="setResultResponse">
<part name="parameters" element="tns:setResultResponse"/>
</message>
<message name="getCurrency1">
<part name="parameters" element="tns:getCurrency1"/>
</message>
<message name="getCurrency1Response">
<part name="parameters" element="tns:getCurrency1Response"/>
</message>
<message name="getCurrency2">
<part name="parameters" element="tns:getCurrency2"/>
</message>
<message name="getCurrency2Response">
<part name="parameters" element="tns:getCurrency2Response"/>
</message>
<message name="insertIntoDb">
<part name="parameters" element="tns:insertIntoDb"/>
</message>
<message name="insertIntoDbResponse">
<part name="parameters" element="tns:insertIntoDbResponse"/>
</message>
<message name="getAmount">
<part name="parameters" element="tns:getAmount"/>
</message>
<message name="getAmountResponse">
<part name="parameters" element="tns:getAmountResponse"/>
</message>
<message name="getStartPrice">
<part name="parameters" element="tns:getStartPrice"/>
</message>
<message name="getStartPriceResponse">
<part name="parameters" element="tns:getStartPriceResponse"/>
</message>
<message name="setEndPrice">
<part name="parameters" element="tns:setEndPrice"/>
</message>
<message name="setEndPriceResponse">
<part name="parameters" element="tns:setEndPriceResponse"/>
</message>
<message name="getEndPrice">
<part name="parameters" element="tns:getEndPrice"/>
</message>
<message name="getEndPriceResponse">
<part name="parameters" element="tns:getEndPriceResponse"/>
</message>
<message name="getTimeFrame">
<part name="parameters" element="tns:getTimeFrame"/>
</message>
<message name="getTimeFrameResponse">
<part name="parameters" element="tns:getTimeFrameResponse"/>
</message>
<portType name="BinaryTransactionsWS">
<operation name="setResult">
<input wsam:Action="http://webservices/BinaryTransactionsWS/setResultRequest" message="tns:setResult"/>
<output wsam:Action="http://webservices/BinaryTransactionsWS/setResultResponse" message="tns:setResultResponse"/>
</operation>
<operation name="getCurrency1">
<input wsam:Action="http://webservices/BinaryTransactionsWS/getCurrency1Request" message="tns:getCurrency1"/>
<output wsam:Action="http://webservices/BinaryTransactionsWS/getCurrency1Response" message="tns:getCurrency1Response"/>
</operation>
<operation name="getCurrency2">
<input wsam:Action="http://webservices/BinaryTransactionsWS/getCurrency2Request" message="tns:getCurrency2"/>
<output wsam:Action="http://webservices/BinaryTransactionsWS/getCurrency2Response" message="tns:getCurrency2Response"/>
</operation>
<operation name="insertIntoDb">
<input wsam:Action="http://webservices/BinaryTransactionsWS/insertIntoDbRequest" message="tns:insertIntoDb"/>
<output wsam:Action="http://webservices/BinaryTransactionsWS/insertIntoDbResponse" message="tns:insertIntoDbResponse"/>
</operation>
<operation name="getAmount">
<input wsam:Action="http://webservices/BinaryTransactionsWS/getAmountRequest" message="tns:getAmount"/>
<output wsam:Action="http://webservices/BinaryTransactionsWS/getAmountResponse" message="tns:getAmountResponse"/>
</operation>
<operation name="getStartPrice">
<input wsam:Action="http://webservices/BinaryTransactionsWS/getStartPriceRequest" message="tns:getStartPrice"/>
<output wsam:Action="http://webservices/BinaryTransactionsWS/getStartPriceResponse" message="tns:getStartPriceResponse"/>
</operation>
<operation name="setEndPrice">
<input wsam:Action="http://webservices/BinaryTransactionsWS/setEndPriceRequest" message="tns:setEndPrice"/>
<output wsam:Action="http://webservices/BinaryTransactionsWS/setEndPriceResponse" message="tns:setEndPriceResponse"/>
</operation>
<operation name="getEndPrice">
<input wsam:Action="http://webservices/BinaryTransactionsWS/getEndPriceRequest" message="tns:getEndPrice"/>
<output wsam:Action="http://webservices/BinaryTransactionsWS/getEndPriceResponse" message="tns:getEndPriceResponse"/>
</operation>
<operation name="getTimeFrame">
<input wsam:Action="http://webservices/BinaryTransactionsWS/getTimeFrameRequest" message="tns:getTimeFrame"/>
<output wsam:Action="http://webservices/BinaryTransactionsWS/getTimeFrameResponse" message="tns:getTimeFrameResponse"/>
</operation>
</portType>
<binding name="BinaryTransactionsWSPortBinding" type="tns:BinaryTransactionsWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="setResult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCurrency1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCurrency2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertIntoDb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAmount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStartPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setEndPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEndPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTimeFrame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BinaryTransactionsWS">
<port name="BinaryTransactionsWSPort" binding="tns:BinaryTransactionsWSPortBinding">
<soap:address location="http://localhost:8080/ArlkonServer/BinaryTransactionsWS"/>
</port>
</service>
</definitions>