src/META-INF/wsdl/localhost_8080/ArlkonServer/CurrencyApiWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="CurrencyApiWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://localhost:8080/ArlkonServer/CurrencyApiWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getAverage">
<part name="parameters" element="tns:getAverage"/>
</message>
<message name="getAverageResponse">
<part name="parameters" element="tns:getAverageResponse"/>
</message>
<message name="returnCurrency">
<part name="parameters" element="tns:returnCurrency"/>
</message>
<message name="returnCurrencyResponse">
<part name="parameters" element="tns:returnCurrencyResponse"/>
</message>
<message name="getCurrentPrice">
<part name="parameters" element="tns:getCurrentPrice"/>
</message>
<message name="getCurrentPriceResponse">
<part name="parameters" element="tns:getCurrentPriceResponse"/>
</message>
<message name="getCurrencyList">
<part name="parameters" element="tns:getCurrencyList"/>
</message>
<message name="getCurrencyListResponse">
<part name="parameters" element="tns:getCurrencyListResponse"/>
</message>
<message name="getHistoricalData">
<part name="parameters" element="tns:getHistoricalData"/>
</message>
<message name="getHistoricalDataResponse">
<part name="parameters" element="tns:getHistoricalDataResponse"/>
</message>
<portType name="CurrencyApiWS">
<operation name="getAverage">
<input wsam:Action="http://webservices/CurrencyApiWS/getAverageRequest" message="tns:getAverage"/>
<output wsam:Action="http://webservices/CurrencyApiWS/getAverageResponse" message="tns:getAverageResponse"/>
</operation>
<operation name="returnCurrency">
<input wsam:Action="http://webservices/CurrencyApiWS/returnCurrencyRequest" message="tns:returnCurrency"/>
<output wsam:Action="http://webservices/CurrencyApiWS/returnCurrencyResponse" message="tns:returnCurrencyResponse"/>
</operation>
<operation name="getCurrentPrice">
<input wsam:Action="http://webservices/CurrencyApiWS/getCurrentPriceRequest" message="tns:getCurrentPrice"/>
<output wsam:Action="http://webservices/CurrencyApiWS/getCurrentPriceResponse" message="tns:getCurrentPriceResponse"/>
</operation>
<operation name="getCurrencyList">
<input wsam:Action="http://webservices/CurrencyApiWS/getCurrencyListRequest" message="tns:getCurrencyList"/>
<output wsam:Action="http://webservices/CurrencyApiWS/getCurrencyListResponse" message="tns:getCurrencyListResponse"/>
</operation>
<operation name="getHistoricalData">
<input wsam:Action="http://webservices/CurrencyApiWS/getHistoricalDataRequest" message="tns:getHistoricalData"/>
<output wsam:Action="http://webservices/CurrencyApiWS/getHistoricalDataResponse" message="tns:getHistoricalDataResponse"/>
</operation>
</portType>
<binding name="CurrencyApiWSPortBinding" type="tns:CurrencyApiWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAverage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="returnCurrency">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCurrentPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCurrencyList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHistoricalData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CurrencyApiWS">
<port name="CurrencyApiWSPort" binding="tns:CurrencyApiWSPortBinding">
<soap:address location="http://localhost:8080/ArlkonServer/CurrencyApiWS"/>
</port>
</service>
</definitions>