src/META-INF/wsdl/localhost_8080/ArlkonServer/CurrencyApiWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices/">

<xs:element name="getAverage" type="tns:getAverage"/>

<xs:element name="getAverageResponse" type="tns:getAverageResponse"/>

<xs:element name="getCurrencyList" type="tns:getCurrencyList"/>

<xs:element name="getCurrencyListResponse" type="tns:getCurrencyListResponse"/>

<xs:element name="getCurrentPrice" type="tns:getCurrentPrice"/>

<xs:element name="getCurrentPriceResponse" type="tns:getCurrentPriceResponse"/>

<xs:element name="getHistoricalData" type="tns:getHistoricalData"/>

<xs:element name="getHistoricalDataResponse" type="tns:getHistoricalDataResponse"/>

<xs:element name="getRandomNumbers" type="tns:getRandomNumbers"/>

<xs:element name="getRandomNumbersResponse" type="tns:getRandomNumbersResponse"/>

<xs:element name="returnCurrency" type="tns:returnCurrency"/>

<xs:element name="returnCurrencyResponse" type="tns:returnCurrencyResponse"/>

<xs:complexType name="getCurrencyList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCurrencyListResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="returnCurrency">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="returnCurrencyResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAverage">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAverageResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCurrentPrice">
<xs:sequence>
<xs:element name="currency1" type="xs:string" minOccurs="0"/>
<xs:element name="currency2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCurrentPriceResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRandomNumbers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getRandomNumbersResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHistoricalData">
<xs:sequence>
<xs:element name="currency1" type="xs:string" minOccurs="0"/>
<xs:element name="currency2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHistoricalDataResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>