src/META-INF/wsdl/localhost_8080/ArlkonServer/ProfileWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="ProfileWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://localhost:8080/ArlkonServer/ProfileWS?xsd=1"/>
</xsd:schema>
</types>
<message name="printInvestData">
<part name="parameters" element="tns:printInvestData"/>
</message>
<message name="printInvestDataResponse">
<part name="parameters" element="tns:printInvestDataResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="printData">
<part name="parameters" element="tns:printData"/>
</message>
<message name="printDataResponse">
<part name="parameters" element="tns:printDataResponse"/>
</message>
<portType name="ProfileWS">
<operation name="printInvestData">
<input wsam:Action="http://webservices/ProfileWS/printInvestDataRequest" message="tns:printInvestData"/>
<output wsam:Action="http://webservices/ProfileWS/printInvestDataResponse" message="tns:printInvestDataResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://webservices/ProfileWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webservices/ProfileWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="printData">
<input wsam:Action="http://webservices/ProfileWS/printDataRequest" message="tns:printData"/>
<output wsam:Action="http://webservices/ProfileWS/printDataResponse" message="tns:printDataResponse"/>
</operation>
</portType>
<binding name="ProfileWSPortBinding" type="tns:ProfileWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="printInvestData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="printData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProfileWS">
<port name="ProfileWSPort" binding="tns:ProfileWSPortBinding">
<soap:address location="http://localhost:8080/ArlkonServer/ProfileWS"/>
</port>
</service>
</definitions>