src/META-INF/wsdl/localhost_8080/ArlkonServer/UserWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices/">

<xs:element name="getBalance" type="tns:getBalance"/>

<xs:element name="getBalanceResponse" type="tns:getBalanceResponse"/>

<xs:element name="getRecentActivities" type="tns:getRecentActivities"/>

<xs:element name="getRecentActivitiesResponse" type="tns:getRecentActivitiesResponse"/>

<xs:element name="getUserIdFromUsername" type="tns:getUserIdFromUsername"/>

<xs:element name="getUserIdFromUsernameResponse" type="tns:getUserIdFromUsernameResponse"/>

<xs:element name="setBalance" type="tns:setBalance"/>

<xs:element name="setBalanceResponse" type="tns:setBalanceResponse"/>

<xs:complexType name="getBalance">
<xs:sequence>
<xs:element name="user_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBalanceResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRecentActivities">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRecentActivitiesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setBalance">
<xs:sequence>
<xs:element name="balance" type="xs:double"/>
<xs:element name="user_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setBalanceResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getUserIdFromUsername">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserIdFromUsernameResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>