xml-resources/web-service-references/BinaryTransactionsWS/wsdl/localhost_8080/ArlkonServer/BinaryTransactionsWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices/">

<xs:element name="insertIntoDb" type="tns:insertIntoDb"/>

<xs:element name="insertIntoDbResponse" type="tns:insertIntoDbResponse"/>

<xs:complexType name="insertIntoDb">
<xs:sequence>
<xs:element name="user_id" type="xs:int"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="currency1" type="xs:string" minOccurs="0"/>
<xs:element name="currency2" type="xs:string" minOccurs="0"/>
<xs:element name="amount" type="xs:double"/>
<xs:element name="seconds" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertIntoDbResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>