xml-resources/web-service-references/UserWS/wsdl/localhost_8080/ArlkonServer/UserWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="UserWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://localhost:8080/ArlkonServer/UserWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getUsername">
<part name="parameters" element="tns:getUsername"/>
</message>
<message name="getUsernameResponse">
<part name="parameters" element="tns:getUsernameResponse"/>
</message>
<message name="getUserIdFromUsername">
<part name="parameters" element="tns:getUserIdFromUsername"/>
</message>
<message name="getUserIdFromUsernameResponse">
<part name="parameters" element="tns:getUserIdFromUsernameResponse"/>
</message>
<message name="getRecentActivities">
<part name="parameters" element="tns:getRecentActivities"/>
</message>
<message name="getRecentActivitiesResponse">
<part name="parameters" element="tns:getRecentActivitiesResponse"/>
</message>
<message name="getUserIdFromEmail">
<part name="parameters" element="tns:getUserIdFromEmail"/>
</message>
<message name="getUserIdFromEmailResponse">
<part name="parameters" element="tns:getUserIdFromEmailResponse"/>
</message>
<message name="processforgotPassword">
<part name="parameters" element="tns:processforgotPassword"/>
</message>
<message name="processforgotPasswordResponse">
<part name="parameters" element="tns:processforgotPasswordResponse"/>
</message>
<message name="setBalance">
<part name="parameters" element="tns:setBalance"/>
</message>
<message name="setBalanceResponse">
<part name="parameters" element="tns:setBalanceResponse"/>
</message>
<message name="getBalance">
<part name="parameters" element="tns:getBalance"/>
</message>
<message name="getBalanceResponse">
<part name="parameters" element="tns:getBalanceResponse"/>
</message>
<message name="updatePassword">
<part name="parameters" element="tns:updatePassword"/>
</message>
<message name="updatePasswordResponse">
<part name="parameters" element="tns:updatePasswordResponse"/>
</message>
<portType name="UserWS">
<operation name="getUsername">
<input wsam:Action="http://webservices/UserWS/getUsernameRequest" message="tns:getUsername"/>
<output wsam:Action="http://webservices/UserWS/getUsernameResponse" message="tns:getUsernameResponse"/>
</operation>
<operation name="getUserIdFromUsername">
<input wsam:Action="http://webservices/UserWS/getUserIdFromUsernameRequest" message="tns:getUserIdFromUsername"/>
<output wsam:Action="http://webservices/UserWS/getUserIdFromUsernameResponse" message="tns:getUserIdFromUsernameResponse"/>
</operation>
<operation name="getRecentActivities">
<input wsam:Action="http://webservices/UserWS/getRecentActivitiesRequest" message="tns:getRecentActivities"/>
<output wsam:Action="http://webservices/UserWS/getRecentActivitiesResponse" message="tns:getRecentActivitiesResponse"/>
</operation>
<operation name="getUserIdFromEmail">
<input wsam:Action="http://webservices/UserWS/getUserIdFromEmailRequest" message="tns:getUserIdFromEmail"/>
<output wsam:Action="http://webservices/UserWS/getUserIdFromEmailResponse" message="tns:getUserIdFromEmailResponse"/>
</operation>
<operation name="processforgotPassword">
<input wsam:Action="http://webservices/UserWS/processforgotPasswordRequest" message="tns:processforgotPassword"/>
<output wsam:Action="http://webservices/UserWS/processforgotPasswordResponse" message="tns:processforgotPasswordResponse"/>
</operation>
<operation name="setBalance">
<input wsam:Action="http://webservices/UserWS/setBalanceRequest" message="tns:setBalance"/>
<output wsam:Action="http://webservices/UserWS/setBalanceResponse" message="tns:setBalanceResponse"/>
</operation>
<operation name="getBalance">
<input wsam:Action="http://webservices/UserWS/getBalanceRequest" message="tns:getBalance"/>
<output wsam:Action="http://webservices/UserWS/getBalanceResponse" message="tns:getBalanceResponse"/>
</operation>
<operation name="updatePassword">
<input wsam:Action="http://webservices/UserWS/updatePasswordRequest" message="tns:updatePassword"/>
<output wsam:Action="http://webservices/UserWS/updatePasswordResponse" message="tns:updatePasswordResponse"/>
</operation>
</portType>
<binding name="UserWSPortBinding" type="tns:UserWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUsername">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserIdFromUsername">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRecentActivities">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserIdFromEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="processforgotPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserWS">
<port name="UserWSPort" binding="tns:UserWSPortBinding">
<soap:address location="http://localhost:8080/ArlkonServer/UserWS"/>
</port>
</service>
</definitions>