xml-resources/web-service-references/IWWS/wsdl/localhost_8080/ArlkonServer/IWWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="IWWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://localhost:8080/ArlkonServer/IWWS?xsd=1"/>
</xsd:schema>
</types>
<message name="checkTransactionExists">
<part name="parameters" element="tns:checkTransactionExists"/>
</message>
<message name="checkTransactionExistsResponse">
<part name="parameters" element="tns:checkTransactionExistsResponse"/>
</message>
<message name="getTransactionAmount">
<part name="parameters" element="tns:getTransactionAmount"/>
</message>
<message name="getTransactionAmountResponse">
<part name="parameters" element="tns:getTransactionAmountResponse"/>
</message>
<message name="insertIntoDetails">
<part name="parameters" element="tns:insertIntoDetails"/>
</message>
<message name="insertIntoDetailsResponse">
<part name="parameters" element="tns:insertIntoDetailsResponse"/>
</message>
<message name="getTransactionResult">
<part name="parameters" element="tns:getTransactionResult"/>
</message>
<message name="getTransactionResultResponse">
<part name="parameters" element="tns:getTransactionResultResponse"/>
</message>
<message name="insertInDb">
<part name="parameters" element="tns:insertInDb"/>
</message>
<message name="insertInDbResponse">
<part name="parameters" element="tns:insertInDbResponse"/>
</message>
<message name="getEndMethod">
<part name="parameters" element="tns:getEndMethod"/>
</message>
<message name="getEndMethodResponse">
<part name="parameters" element="tns:getEndMethodResponse"/>
</message>
<message name="getLossValue">
<part name="parameters" element="tns:getLossValue"/>
</message>
<message name="getLossValueResponse">
<part name="parameters" element="tns:getLossValueResponse"/>
</message>
<message name="getProfitValue">
<part name="parameters" element="tns:getProfitValue"/>
</message>
<message name="getProfitValueResponse">
<part name="parameters" element="tns:getProfitValueResponse"/>
</message>
<portType name="IWWS">
<operation name="checkTransactionExists">
<input wsam:Action="http://webservices/IWWS/checkTransactionExistsRequest" message="tns:checkTransactionExists"/>
<output wsam:Action="http://webservices/IWWS/checkTransactionExistsResponse" message="tns:checkTransactionExistsResponse"/>
</operation>
<operation name="getTransactionAmount">
<input wsam:Action="http://webservices/IWWS/getTransactionAmountRequest" message="tns:getTransactionAmount"/>
<output wsam:Action="http://webservices/IWWS/getTransactionAmountResponse" message="tns:getTransactionAmountResponse"/>
</operation>
<operation name="insertIntoDetails">
<input wsam:Action="http://webservices/IWWS/insertIntoDetailsRequest" message="tns:insertIntoDetails"/>
<output wsam:Action="http://webservices/IWWS/insertIntoDetailsResponse" message="tns:insertIntoDetailsResponse"/>
</operation>
<operation name="getTransactionResult">
<input wsam:Action="http://webservices/IWWS/getTransactionResultRequest" message="tns:getTransactionResult"/>
<output wsam:Action="http://webservices/IWWS/getTransactionResultResponse" message="tns:getTransactionResultResponse"/>
</operation>
<operation name="insertInDb">
<input wsam:Action="http://webservices/IWWS/insertInDbRequest" message="tns:insertInDb"/>
<output wsam:Action="http://webservices/IWWS/insertInDbResponse" message="tns:insertInDbResponse"/>
</operation>
<operation name="getEndMethod">
<input wsam:Action="http://webservices/IWWS/getEndMethodRequest" message="tns:getEndMethod"/>
<output wsam:Action="http://webservices/IWWS/getEndMethodResponse" message="tns:getEndMethodResponse"/>
</operation>
<operation name="getLossValue">
<input wsam:Action="http://webservices/IWWS/getLossValueRequest" message="tns:getLossValue"/>
<output wsam:Action="http://webservices/IWWS/getLossValueResponse" message="tns:getLossValueResponse"/>
</operation>
<operation name="getProfitValue">
<input wsam:Action="http://webservices/IWWS/getProfitValueRequest" message="tns:getProfitValue"/>
<output wsam:Action="http://webservices/IWWS/getProfitValueResponse" message="tns:getProfitValueResponse"/>
</operation>
</portType>
<binding name="IWWSPortBinding" type="tns:IWWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="checkTransactionExists">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTransactionAmount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertIntoDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTransactionResult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertInDb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEndMethod">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLossValue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProfitValue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="IWWS">
<port name="IWWSPort" binding="tns:IWWSPortBinding">
<soap:address location="http://localhost:8080/ArlkonServer/IWWS"/>
</port>
</service>
</definitions>