src/META-INF/wsdl/172.28.17.135_8080/ArlkonServer/ProfileWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices/">

<xs:element name="printData" type="tns:printData"/>

<xs:element name="printDataResponse" type="tns:printDataResponse"/>

<xs:element name="printInvestData" type="tns:printInvestData"/>

<xs:element name="printInvestDataResponse" type="tns:printInvestDataResponse"/>

<xs:complexType name="printInvestData">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="printInvestDataResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="printData">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="printDataResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>